
    <div class="post-entry">
      <a href="#">
        <img src="{{ifoInput.img}}" alt="Image" class="img-fluid">
      </a>
      <div class="caption">
        <div class="caption-inner">
          <h3 class="mb-3">{{ifoInput.title}}</h3>
          <div class="author d-flex align-items-center">
            <div class="img mb-2 mr-3">
              <img src="{{ifoInput.avatar}}" alt="">
            </div>
            <div class="text">
              <h4>{{ifoInput.name}}</h4>
              <span>{{ifoInput.date}}&bullet; Sports</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
