<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Search Teams</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" style="margin-left: 20%;">
          <form   [formGroup]="searchTeamForm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Team Name" formControlName="teamName">
            </div>
            <div *ngIf="
            searchTeamForm.controls['teamName'].invalid && 
            (searchTeamForm.controls['teamName'].touched ||
            searchTeamForm.controls['teamName'].dirty)
            ">
            <div *ngIf="searchTeamForm.controls['teamName'].errors?.['required']"  class="red">
              teamName is required
            </div>
              </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5 " value="Search" (click)="searchTeam()">
            </div>
          </form>   
        <div>
          <p>Team Name : {{team.name}}</p>
          <p>Team owner : {{team.owner}}</p>
          <p>Team fondation: {{team.fondation}}</p>
        </div>
        </div>
        
      </div>
      <div *ngFor="let player of foundedPlayer"  >
        
          {{player.name}} : {{player.number}}
      
     </div>
    </div>
   
   
  </div>